* {
  box-sizing: border-box;
}

.page-wrap {
  max-width: 800px;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

img {
  display: block;
}

a {
  color: lightblue;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

h1 {
  font-size: 4em;
}

h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro h1 {
  font-size: 2.5em;
}

.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 2em 0;
}

.sub-story {
  float: left;
  width: 250px;
  margin: 0 0 25px 0;
  position: relative;
  font-size: 80%;
}

.last {
  margin-right: 0;
}

.centered {
  padding: 0 0 0 4em;
}

@media only screen and (min-width: 992px) {

  /* Desktop */
  .centered {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 766px) {

  /* For mobile phones: */
   .main-story {
     float: left;
     width: 100%;
     height: 350px;
     position: relative;
     font-size: 100%;
     margin: 0 0 2em 0;
     overflow: hidden;
   }

   .story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
   }

   .sub-stories {
     overflow: hidden;
     margin: 0 0 25px 0;
   }

   .sub-story {
     float: left;
     width: 100%;
     height: 350px;
     margin: 0 0 25px 0;
     position: relative;
     font-size: 100%;
     overflow: hidden;
   }

   img {
     min-width: 100%;
     min-height: 100%;
   }

   .centered {
     padding: 0 0 0 0;
   }
}