
* {
  box-sizing: border-box;
}

.page-wrap {
  width: 840px;
  margin: 20px auto;
}

.content
{
  display: flex;
  flex-direction: row;
}

.description img
{
  width: 360px;
  margin-right: 20px;
}

img {
  display: block;
}

.card
{
  width:360px;
  height: 460px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 6px;
  padding: 2em 1em 2em 1em;
}

/* start of my Code */


/* generally */

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-family: ArialMT;
    font-size: 20px;
    color: #333;
    text-weight: normal;
}



/* CSS-Classes */


/* Row with Jira Logo */
.header {
    display: flex;
    justify-content: space-between;
}


/* row with Pictures */
.mask {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 0 0;
}

.lion {
    background-image: url("../img/lion.jpg");
}

.man {
    background-image: url("../img/man.jpg");
}

.mask-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #CCC;
    background-size: cover;
    background-position: center;
}

/* row with project names */
.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 10px;
    color: #999;
    font-family: ArialMT;
    width: auto;

}

.project p {
    margin: 10px 0 6px 0;
}


/* row with first and second level support */
.support {
    display: flex;
    justify-content: space-between;
}

.support p {
    margin: 2px 5px 1px 4px;
}

.supportFirst {
    background: #FFF;
    border: 1px solid #A4B3C2;
    border-radius: 3px;
    font-family: Arial-BoldMT;
    font-size: 11px;
    color: #4A6785;
}

.supportSecond {
    background: #FFF;
    border: 1px solid #FFE9A8;
    border-radius: 3px;
    font-family: Arial-BoldMT;
    font-size: 11px;
    color: #594300;
}


/* Message-Box */
.message {
    font-family: ArialMT;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}

/* Row with Button and Help-Link */
.footer {
    display: flex;
    justify-content: space-between;
}

.footer a {
    font-family: ArialMT;
    font-size: 14px;
    color: #3572B0;
    margin: 12.2px 0 0 0;
}


.btnConfig {
    background: #3572B0;
    border-radius: 3px;
    margin: 5px 5px 0px 0px;
    padding: 7px 9px 6px 10px;
}

.btnConfig a {
    font-family: Arial-BoldMT;
    font-size: 14px;
    color: #FFF;
}

.btnConfig:hover{
    background-color: #3484F5;
}

